body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: rgb(2, 58, 49);
  color: white;
}


.portfolio {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header p {
  margin: 0.5rem 0 0 0;
  font-size: 1.2rem;
}

.about,
.projects,
.contact {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about p {
  line-height: 1.6;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.project {
  background-color: #f0f0f0;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  background-color: #e0e0e0; 
}

.project h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}

.project p {
  margin: 0;
}

.contact p {
  margin: 0.3rem 0;
  font-size: 1rem;
}
